/* Background */
.chroma {
  background-color: #ffffff
}

/* Error */
.chroma .err {
  color: #a61717;
  background-color: #e3d2d2
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  background-color: #ffffcc;
  display: block;
  width: 100%
}

/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  display: block;
}

/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* Keyword */
.chroma .k {
  font-weight: bold
}

/* KeywordConstant */
.chroma .kc {
  font-weight: bold
}

/* KeywordDeclaration */
.chroma .kd {
  font-weight: bold
}

/* KeywordNamespace */
.chroma .kn {
  font-weight: bold
}

/* KeywordPseudo */
.chroma .kp {
  font-weight: bold
}

/* KeywordReserved */
.chroma .kr {
  font-weight: bold
}

/* KeywordType */
.chroma .kt {
  color: #445588;
  font-weight: bold
}

/* NameAttribute */
.chroma .na {
  color: #008080
}

/* NameBuiltin */
.chroma .nb {
  color: #999999
}

/* NameClass */
.chroma .nc {
  color: #445588;
  font-weight: bold
}

/* NameConstant */
.chroma .no {
  color: #008080
}

/* NameEntity */
.chroma .ni {
  color: #800080
}

/* NameException */
.chroma .ne {
  color: #990000;
  font-weight: bold
}

/* NameFunction */
.chroma .nf {
  color: #990000;
  font-weight: bold
}

/* NameNamespace */
.chroma .nn {
  color: #555555
}

/* NameTag */
.chroma .nt {
  color: #000080
}

/* NameVariable */
.chroma .nv {
  color: #008080
}

/* LiteralString */
.chroma .s {
  color: #bb8844
}

/* LiteralStringAffix */
.chroma .sa {
  color: #bb8844
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #bb8844
}

/* LiteralStringChar */
.chroma .sc {
  color: #bb8844
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #bb8844
}

/* LiteralStringDoc */
.chroma .sd {
  color: #bb8844
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #bb8844
}

/* LiteralStringEscape */
.chroma .se {
  color: #bb8844
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #bb8844
}

/* LiteralStringInterpol */
.chroma .si {
  color: #bb8844
}

/* LiteralStringOther */
.chroma .sx {
  color: #bb8844
}

/* LiteralStringRegex */
.chroma .sr {
  color: #808000
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #bb8844
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #bb8844
}

/* LiteralNumber */
.chroma .m {
  color: #009999
}

/* LiteralNumberBin */
.chroma .mb {
  color: #009999
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #009999
}

/* LiteralNumberHex */
.chroma .mh {
  color: #009999
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #009999
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #009999
}

/* LiteralNumberOct */
.chroma .mo {
  color: #009999
}

/* Operator */
.chroma .o {
  font-weight: bold
}

/* OperatorWord */
.chroma .ow {
  font-weight: bold
}

/* Comment */
.chroma .c {
  color: #999988;
  font-style: italic
}

/* CommentHashbang */
.chroma .ch {
  color: #999988;
  font-style: italic
}

/* CommentMultiline */
.chroma .cm {
  color: #999988;
  font-style: italic
}

/* CommentSingle */
.chroma .c1 {
  color: #999988;
  font-style: italic
}

/* CommentSpecial */
.chroma .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic
}

/* CommentPreproc */
.chroma .cp {
  color: #999999;
  font-weight: bold
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #999999;
  font-weight: bold
}

/* GenericDeleted */
.chroma .gd {
  color: #000000;
  background-color: #ffdddd
}

/* GenericEmph */
.chroma .ge {
  font-style: italic
}

/* GenericError */
.chroma .gr {
  color: #aa0000
}

/* GenericHeading */
.chroma .gh {
  color: #999999
}

/* GenericInserted */
.chroma .gi {
  color: #000000;
  background-color: #ddffdd
}

/* GenericOutput */
.chroma .go {
  color: #888888
}

/* GenericPrompt */
.chroma .gp {
  color: #555555
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
  color: #aaaaaa
}

/* GenericTraceback */
.chroma .gt {
  color: #aa0000
}

/* TextWhitespace */
.chroma .w {
  color: #bbbbbb
}
