{{ if or .Params.socialShare (and .Site.Params.socialShare (ne .Params.socialShare false)) }}
<!-- Social Share Button HTML -->
<div class="share-box" aria-hidden="true">
  <ul class="share">

    <!-- Twitter -->
    <li>
      <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Author.twitter }}" target="_blank" rel="noopener" title="Share on Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <!-- Facebook -->
    <li>
      <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" title="Share on Facebook">
        <i class="fab fa-facebook"></i>
      </a>
    </li>

    <!-- Reddit -->
    <li>
      <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" rel="noopener" title="Share on Reddit">
        <i class="fab fa-reddit"></i>
      </a>
    </li>

    <!-- LinkedIn -->
    <li>
      <a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" rel="noopener" title="Share on LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>

    <!-- StumbleUpon -->
    <li>
      <a href="//www.stumbleupon.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" rel="noopener" title="Share on StumbleUpon">
        <i class="fab fa-stumbleupon"></i>
      </a>
    </li>

    <!-- Pinterest -->
    <li>
      <a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" rel="noopener" title="Share on Pinterest">
        <i class="fab fa-pinterest"></i>
      </a>
    </li>

    <!-- Pocket -->
    <li>
      <a href="//getpocket.com/save?url={{ .Permalink }}" target="_blank" rel="noopener" title="Save in Pocket">
        <i class="fab fa-get-pocket"></i>
      </a>
    </li>

    <!-- Telegram -->
    <li>
      <a href="//telegram.me/share/url?url={{ .Permalink }}&amp;text={{ .Title }}" target="_blank" rel="noopener" title="Share on Telegram">
        <i class="fab fa-telegram"></i>
      </a>
    </li>

  </ul>
</div>
{{ end }}
